<nav>
  <div class="nav-wrapper pink purple darken-4">
    <ul class="left">
      <li><a routerLink="/">Home</a></li>
      <li><a [routerLink]="['messages', 'inbox']"><i class="material-icons">chat_bubble_outline</i></a></li>
      <li><a [routerLink]="['contacts', 'new']"><i class="material-icons">contact_phone</i></a></li>
      <li><a [routerLink]="['preferences']"><i class="material-icons">settings</i></a></li>
    </ul>

    <ul class="right hide-on-small-only">
      <li *ngIf="!isLoggedIn(); else logout"><a [routerLink]="['login']">Login</a></li>
      <ng-template #logout>
        <li (click)="onLogOut()"><a> {{ getEmail() }} (Logout)</a></li>
      </ng-template>
    </ul>
  </div>
</nav>