<div class="row">
  <form class="col s12" [formGroup]="editContactForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="fname" type="text" name="fname" formControlName="fname" required>
        <label for="fname" [ngClass]="editContactForm.get('fname').value ? 'active ' : ''">First Name 
          <span style="color:red" 
          *ngIf="editContactForm.get('fname').invalid && editContactForm.get('fname').touched" >*</span>
        </label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="lname" type="text" name="lname" formControlName="lname" required>
        <label for="lname" [ngClass]="editContactForm.get('lname').value ? 'active ' : ''">Last Name
          <span style="color:red" 
          *ngIf="editContactForm.get('lname').invalid && editContactForm.get('lname').touched">*</span>
        </label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="address" type="text" name="address" formControlName="address">
        <label for="address" [ngClass]="editContactForm.get('address').value ? 'active ' : ''">Address (street address P.O. box, c/o)</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="city" type="text" name="city" formControlName="city">
        <label for="city" [ngClass]="editContactForm.get('city').value ? 'active ' : ''">City</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="state" type="text" name="state" formControlName="state">
        <label for="state" [ngClass]="editContactForm.get('state').value ? 'active ' : ''">State/Province/Region</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="zip" type="text" name="zip" formControlName="zip">
        <label for="zip" [ngClass]="editContactForm.get('zip').value ? 'active ' : ''">Zip</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="country" type="text" name="country" formControlName="country">
        <label for="country" [ngClass]="editContactForm.get('country').value ? 'active ' : ''">Country</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">phone</i>
        <input id="telephone" type="tel" name="telephone" formControlName="telephone">
        <label for="telephone" [ngClass]="editContactForm.get('telephone').value ? 'active ' : ''">Telephone</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" name="email" formControlName="email" class="validate">
        <label for="email" [ngClass]="editContactForm.get('email').value ? 'active ' : ''">Email</label>

      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">work</i>
        <input id="company" type="text" name="company" formControlName="company">
        <label for="company" [ngClass]="editContactForm.get('company').value ? 'active ' : ''">Company</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="editContactForm.invalid || !editContactForm.get('fname').value.trim() || !editContactForm.get('lname').value.trim()">Save contact
      <i class="material-icons right" >send</i>
      </button>
    </div>
  </form>
</div>