<div class="container" style="margin-top:25px">
    <div class="row">
      <div class="col s12 m4 offset-m4">
        <label for="username">Email</label>
        <input placeholder="Username" id="username" type="email"  #mail>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 offset-m4">
        <label for="username" >Password</label>
        <input placeholder="Password" id="password" type="password" #pw>
        <a class="waves-effect waves-light btn" (click)="onLogin(mail.value, pw.value)">login</a>
      </div>
    </div>
</div>