<ul>
  <li>Name: {{ contactDetails?.fname }} {{ contactDetails?.lname }}</li>
  <li>
    Address: 
    {{ contactDetails?.address }}, 
    {{contactDetails?.zip}}
    {{ contactDetails?.city }} 
    {{ contactDetails?.state ? contactDetails.state : '' }}
  </li>
  <li>Country: {{contactDetails?.country}}</li>
  <li>Telephone: {{contactDetails?.telephone}}</li>
  <li>Email: {{contactDetails?.email}}</li>
  <li>Company: {{contactDetails?.company}}</li>
</ul>
<app-contact-edit [contact]="contactDetails" [contactKey]="contactId"></app-contact-edit>