<div class="row">
  <form class="col s12" [formGroup]="newContactForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="fname" type="text" class="validate" name="fname" formControlName="fname" required>
        <label for="fname">First Name 
          <span style="color:red" 
          *ngIf="newContactForm.get('fname').invalid && newContactForm.get('fname').touched">*</span>
        </label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="lname" type="text" class="validate" name="lname" formControlName="lname" required>
        <label for="lname">Last Name
          <span style="color:red" 
          *ngIf="newContactForm.get('lname').invalid && newContactForm.get('lname').touched">*</span>
        </label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="address" type="text" class="validate" name="address" formControlName="address">
        <label for="address">Address (street address P.O. box, c/o)</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="city" type="text" class="validate" name="city" formControlName="city">
        <label for="city">City</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="state" type="text" class="validate" name="state" formControlName="state">
        <label for="state">State/Province/Region</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="zip" type="text" class="validate" name="zip" formControlName="zip">
        <label for="zip">Zip</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        <input id="country" type="text" class="validate" name="country" formControlName="country">
        <label for="country">Country</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">phone</i>
        <input id="telephone" type="tel" class="validate" name="telephone" formControlName="telephone">
        <label for="telephone">Telephone</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" class="validate" name="email" formControlName="email">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">work</i>
        <input id="company" type="text" class="validate" name="company" formControlName="company">
        <label for="company">Company</label>
      </div>
      <button class="btn waves-effect waves-light" 
      type="submit" name="action" 
      [disabled]="newContactForm.invalid || !newContactForm.get('fname').value.trim() || !newContactForm.get('lname').value.trim()">Add contact
      <i class="material-icons right" >send</i>
      </button>
    </div>
  </form>
</div>