<div class="fixed-action-btn toolbar">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li class="waves-effect waves-light" (click)="editContact(contactKey)">
      <a><i class="material-icons">mode_edit</i></a>
    </li>

    <li class="waves-effect waves-light" (click)="messageContact(contact)">
      <a><i class="material-icons">chat_bubble_outline</i></a>
    </li>
    <li class="waves-effect waves-light" (click)="removeContact(contactKey)"><a><i class="material-icons">delete</i></a></li>
  </ul>
</div>