<h4>Contacts Sample App</h4>
<p>Welcome to the sample contacts app build with angular 4!</p>

<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>


<h5>App Overview</h5>

<p>First, start exploring the application's functionality at a high level by activating one of the three submodules: Messages, Contacts, or Preferences. If you are not already logged in, you will be taken to an authentication screen</p>

<a [routerLink]="['messages', 'inbox']">Messages</a> |
<a [routerLink]="['contacts', 'search']">Contacts</a> |
<a routerLink="">Preferences</a> |
<a [routerLink]="['login']">Login/Signup</a>