<div (click)="onGoBack()" style="cursor:pointer">
  <i class="material-icons">skip_previous</i> (go back)
</div>

<div>
  <h5>From: {{message.from}}</h5>
  <h5>Subject: {{message.subject}}</h5>
  <h5>date: {{message.date | date}}</h5>
  <h5>body:</h5>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>