<ul class="collection">
  <li><a [routerLink]="['new']" class="waves-effect waves-light btn new-contact blue darken-2"><i class="material-icons left">person_pin</i>Add new contact</a></li>
  <li class="collection-item avatar" *ngFor="let contact of contacts" [routerLink]="[contact.$key]">
    <img src="http://loremflickr.com/45/45?={{contact.id}}" alt="" class="circle responsive-img">
    <span class="title">{{ contact.fname }} {{ contact.lname }}</span>
    <p>{{ contact.email }}<br> Company: {{ contact.company }} 
    <a href="#!" class="secondary-content"><i class="material-icons starred">grade</i></a>
  </li>
</ul>