<table class="bordered">
  <thead>
    <tr>
      <th>From</th>
      <th>Subject</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let message of messages; let i = index" (click)="onShowMessage($event, i)" [ngClass]="message.visited ? 'visited' : ''">
      <td>{{ message.from }}</td>
      <td>{{ message.subject }}</td>
      <td>{{ message.date | date }}</td>
    </tr>
  </tbody>
</table>